@import "vars";
@import "global";


@mixin spacebtw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*HEader*/////////////////////////////////////////// 


header.fixed {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10000;
    border: 0;
    transition: 0.4s all;
    min-height: 0;
    width: 100%;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    .header__inner{
        margin: 0;

        padding: 7px 0 5px 0;
    }
}


.header__inner{
    padding: 25px 0;
    @include spacebtw();

}

.link_menu{
    text-decoration: none;
    outline: none;
    display: block;
    transition: .3s ease-in-out;
}

.link_menu-sub{
    text-decoration: none;
    outline: none;
    display: block;
    transition: .3s ease-in-out;
}

nav {
    display: table;
    margin: 0 auto;

  
}


.topmenu:after {
    content: "";
    display: table;
    clear: both;

   
}

.topmenu{
    li{
        float: left;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        margin-right: 55px;

        &:last-child{
            margin-right: 0;
        }

        a{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            color: #030D15;
            font-family: $font-defaul;

            padding-right: 15px;
        }
        
    }
}

.about-vec{
    position: relative;
    &::after{
        content: "";
        width: 9px;
        height: 5px;
        position: absolute;
        right: 0;
        top: 38%;
        background-image: url("../imgs/vector.svg");
    }
}

.topmenu li a:hover { 
    color: #206294; 

}
.submenu-link:after {
  content: "\f107";
  
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}


.submenu {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    background: #fdfdfd;
    position: absolute;
    left: -11px;
    text-align: center;
    top: 115%;
    z-index: 5;
    width: 90px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;

    a{
        color: white;
        text-align: left;
        padding: 12px 15px;
        font-size: 13px;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }
}

.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}



.box-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-search{
    margin-right: 30px;
}

.link-cart{
    margin-right: 24px;
}




/*Intro*///////////////////////////////////////////////////// 
 
.intro__inner{
    @include spacebtw();
    position: relative;
}


.subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    letter-spacing: 0.145em;
    text-transform: uppercase;


    color: $sub-color;

    margin-bottom: 13px;
}

.title{
    font-size: 61px;
    line-height: 73px;
    font-weight: 400;

    max-width: 560px;
    width: 100%;
    padding-top: 70px;
    margin-bottom: 29px;
}

.span{
    color: #247CC0;
    font-weight: 600;
    font-size: 61px;
    line-height: 73px;
    font-weight: 400;

    background-color: rgba(36, 124, 192, 0.1);
    padding: 0 10px;
    
    position: absolute;
    left: -10px;
    margin-bottom: 5px;
}

.text{
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    color: #030D15;

    opacity: 0.6;

    max-width: 515px;
    width: 100%;

    margin-bottom: 40px;
}


.btn-shop{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #247CC0;
    padding: 16px 35px;

    transition: 0.4s;
    &:hover{
        background-color: #108eef;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);   
    }

    border-radius: 6px;
}

.box-btn{
    @include spacebtw();

    max-width: 250px;
    width: 100%;
}

.price{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #030D15;

}

.box-img{
    position: relative;
    
    max-width: 570px; 
    width: 100%;
    height: 590px;
}
.img__intro{
    position: absolute;
    right: -90px;
}


/*brand*////////////////////////////////////////////////////////// 

.brands__inner{
    margin-bottom: 110px;
    background: #FFFFFF;
    padding: 76px 118px;
    @include spacebtw();
    box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
}



/*Devices*/////////////////////////////////////////////////// 

.devices{
    margin-bottom: 158px;
}

.devices__inner{
    @include spacebtw();
}

.dev__item{
    @include spacebtw();

   &:first-child{
       margin-right: 37px;
   }
}

.box-img-dev{
    max-width: 262px;
    width: 100%;
    height: 248;

    margin-right: 30px;

    position: relative;
}

.cart-icon{
    position: absolute;
    right: -23px;
    top: -23px;
}


.dev__title{
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;

    margin-bottom: 9px;

    color: #030D15;
}

.dev__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
   
    margin-bottom: 20px;

    max-width: 256px;
    width: 100%;

    color: #030D15;

    opacity: 0.6;
}

.dev__price{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;

    

    color: #030D15;
}

.price_dis{
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;

    text-decoration-line: line-through;


    color: #030D15;

    opacity: 0.5;
}

.risk{
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    color: #030D15;

    opacity: 0.5;
}


/*Camera*/////////////////////////////////////////////////////////////// 

.camera{
    margin-bottom: 240px;
}

.camera__inner{
    @include spacebtw();
}

.camera__item{
    max-width: 555px;
    width: 100%;
    min-height: 296px;
    &:first-child{
        margin-right: 30px;
    }
    position: relative;
    @include spacebtw();
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 75px 0 74px 35px;
}   

.dis__camera{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;

    text-transform: uppercase;

    color: #F4F9FC;

    opacity: 0.6;
}

.title__camera{
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
    
    max-width: 249px;
    width: 100%;
    color: #F4F9FC;
}

.link__camera{
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #F4F9FC;

    &:hover{
        text-decoration: underline;
    }
}

.dron-img{
   position: absolute;
   right: -44px;
   top: -30px;
}

.camera-im{
    position: absolute;
    right: 0;
    top: 35px;
}


/*About*////////////////////////////////////// 
.about{
    margin-bottom: 125px;
}
.about-wrapper{
    background: #F4F9FC;

}
.about__inner{
    @include spacebtw();
    height: 638px;
}

.about-img{
    position: absolute;
    left: -100px;
    bottom: 12px;
}

.box-img-about{
    max-width: 630px;
    width: 300%;
    height: 663px;
    position: relative;
}

.about-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #030D15;
    margin-bottom: 30px;
    opacity: 0.6;
}

.main-title-about{
    text-align: left;
}

.text-about2{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #030D15;
    margin-bottom: 40px;
    opacity: 0.6;
}

.about-list{
    list-style: none;
    max-width: 375px;
    width: 100%;
}

.about-li{
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #030D15;
    padding-left: 30px;
    margin-bottom: 20px;
    &::marker{
        width: 19px;
        height: 19px;
    }
    position: relative;
    &::before{
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 3px;
        background-image: url("..//imgs/marker.svg");
    }
}

.about-content{
    position: relative;
}

.abour_cont{
    position: absolute;
    left: 0;
    max-width: 400px;
    width: 100%;
    top: -200px;
}

.subtitle__defaul{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;

    letter-spacing: 0.145em;
    text-transform: uppercase;

    color: #C72535;

    opacity: 0.6;
}

.title-standart{
    font-weight: 600;
    font-size: 44px;
    line-height: 71px;

    color: #030D15;
}

/*Product*//////////////////////////////////////////////////////////////// 



.product{
    margin-bottom: 145px;
}
.product__text{
    text-align: center;
}

.product__item-dev{
    @include spacebtw();

    flex-wrap: wrap;

    margin-bottom: 45px;
}

.tubs__inner{
    max-width: 500px;
    width: 100%;
    margin: auto;

    margin-bottom: 50px;
}

.tabs-link{
    margin-right: 40px;
    &:last-child{
        margin-right: 0;
    }
}

.title-standart{
    font-weight: 600;
    font-size: 44px;
    line-height: 71px;
    text-align: center;

    /* B */

    color: #030D15;
}


.title-product-top{
    margin-bottom: 20px;
}

.title-product{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;

    color: #030D15;

    transition: .4s;
}

.tabs-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;

    text-transform: uppercase;

    color: #030D15;
    text-decoration: none;
    opacity: 0.6;

    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }

}

.tabs-link.active{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;

    text-transform: uppercase;

    color: #C72535;
}

.product__item-dev{
    @include spacebtw();
}


.box-img-prod{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 323px;
    width: 100%;
    height: 320px;


    position: relative;
}


.product__item{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 360px;
    width: 100%;
    height: 503px;
    transition: .2s;
    &:hover{
        border: 1px solid transparent;
        box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
    }
    

    margin-bottom: 25px;
}

.box-content-product{
    padding: 50px 0 0 35px;
    transition: .3s;
    
    &:hover{
        .title-product{
            opacity: 0;
        }
    }

    &:hover{
        .box__icon{

            opacity: 1;
        }

        .bob-color{
            opacity: 1;
        }
    }
}

.img-text{
    position: absolute;
    left: 34px;
    top: 35px;
}

.product-imgs{
    padding-top: 30px;
}


.box-text{
    position: relative;
}
.box__icon{
    max-width: 290px;
    width: 100%;
    @include spacebtw();

    transition: .3s;
    position: absolute;
    top: -5px;

    opacity: 0;
}

.box-wrap{
    position: relative;

    width: 284px;
}

.bob-color{
    position: absolute;
    right: 0;
    top: 0;
}

.color{
    padding: 6px;
    border-radius: 50%;
    background: #C3D7E6;
        
    width: 16px;
    height: 16px;
    margin-right: 26px;
    &:last-child{
        margin-right: 0;
    }

    &:hover{
        cursor: pointer;
    }
}

.bob-color{
    display: flex;
    padding-top: 13px;
    opacity: 0;

    transition: .3s ;

    width: 100px;

    @include spacebtw();
}



.black{
    background: #15151D
}

.blue{
    background: #2F80ED;
}

.box-colos{
    padding: 2.5px;
    border-radius: 50%;

    border: 1.5px solid transparent;
   
}

.active-color{
    border: 1.5px solid #030D15;

    
}

.box-link{
    position: relative;

    width: 129px;

    margin: auto;
}

.box-link-produc{
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;

    text-align: center;
    text-transform: uppercase;

    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    color: #030D15;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after{
        content: "";
        width: 27px;
        height: 10.5px;
        position: absolute;
        right: 0;
        background-image: url("../imgs/right.svg");

    }
}






/*Shop*///////////////////////////////////////////////////////////// 

.shop{
    margin-bottom: 130px;
}



.text_shop{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    max-width: 457px;
    width: 100%;
    height: 48px;

    margin: auto;

    color: #030D15;

    opacity: 0.6;
}

.shop__inner-text{
    margin-bottom: 50px;
}

.shop_content-dev{
    @include spacebtw();
    align-items: flex-start;
}

.shop__item{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 20px;


    &:hover{
        .box-wrap-shop{
            opacity: 1;
        }

        .box__icon-shop{
            opacity: 1;
        }
        border: 1px solid transparent;
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(192, 192, 192, 0.07), 0px 41.7776px 33.4221px rgba(192, 192, 192, 0.0503198), 0px 22.3363px 17.869px rgba(192, 192, 192, 0.0417275), 0px 12.5216px 10.0172px rgba(192, 192, 192, 0.035), 0px 6.6501px 5.32008px rgba(192, 192, 192, 0.0282725), 0px 2.76726px 2.21381px rgba(192, 192, 192, 0.0196802);
    }
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.shop__img-dev{
    text-align: center;
}

.box__icon-shop{
    @include spacebtw();

    width: 290px;

    opacity: 0;
    transition: .4s;

    margin: auto;
    
}

.box-wrap-shop{
    opacity: 0;
    text-align-last: left;
    transition: .4s;

}
.colom3,
.colom2,
.colom1{
    display: flex;
    flex-direction: column;

    .shop__item{
        margin: 0;
        &:first-child{
            margin-bottom: 20px;                                
        }

    }
}

/*Contact*//////////////////////////////////////////////////////// 

.contact{
    background: #F4F9FC;
}

.content_contact{
    text-align: left;
    padding: 100px 0;
    
}

.contact__inner{
    @include spacebtw();
}

.title-contact{
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;

    margin-bottom: 8px;
    color: #030D15;

    text-align: left;
}

.text-contact{
    margin-right: auto;
    text-align: left;
    max-width: 360px;
}

.form__text{
    max-width: 457px;
    width: 100%;  

    position: relative;
}

.inp__contact{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 457px;
    width: 100%;
    outline: none;
    padding: 15px 150px 15px 25px;

    transition: .3s;
    &:focus{
        border: 1px solid rgba(36, 124, 192, 0.6);
    }
}


.contact__btn{
    background: #247CC0;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    border: 0;
    color: #FFFFFF;

    padding: 12.5px 25px 12.5px 25px;

    position: absolute;
    right: 0;
    top: 0;

    transition: .4s;
    &:hover{
        cursor: pointer;
        background: #0091ff;

    }
}
 
.main-title-about{
    text-align: left;
}

/*Footer*////////////////////////////////////////////////////// 

.footer{
    background: #030D15;
}

.footer__inner{
    padding: 75px 0 56px 0;

    @include spacebtw();
    align-items: flex-start;
}


.footer__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;

    color: #FFFFFF;
    margin-top: 22px;
    opacity: 0.6;

    max-width: 261px;
}


.footer__title-menu{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 26px;

    color: #FFFFFF;
}

.menu__footer{
    list-style: none;
    padding-left: 0;
}

.footer__menu-item{
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

.footer__menu-link{
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;

    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    color: #FFFFFF;

    opacity: 0.6;
}

.footer__link-www{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;

    display: block;
    margin: 15px 0;

    color: #FFFFFF;

    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.block__social{
    @include spacebtw();

    max-width: 175px;

    margin-bottom: 53px;
}

.link__language{
    display: block;

    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 23px;

    padding: 0 13px 0 20px;

    color: #FFFFFF;


    max-width: 78px;
    position: relative;
    &::after{
        content: "";

        width: 9px;
        height: 5px;

        position: absolute;

        right: 0;
        bottom: 40%;

        background-image: url("../imgs/bot_st.svg");
    }
    &::before{
        content: "";

        width: 14px;
        height: 14px;

        position: absolute;

        left: 0;
        bottom: 30%;

        background-image: url("../imgs/lang.svg");
    }
}

@import "media";
